# Clerk Authentication Configuration Template
# Copy this file to .env and fill in your keys.
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bW9kZXJuLWFsYmFjb3JlLTc5LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_lBhj5bOITmCgErqzM3ThKZEYJUjuYnQituIbvL0okd
